html,
.default-header {
  color: white;
  text-align: center;
  background-image: url("../../public/Iiwi.jpg");
}
.header-title {
  margin-bottom: 0.1em;
}
.header-description {
  color: gray;
  font-size: 0.8em;
  margin-top: 0.1em;
}
body {
  --bs-light-rgb: 236, 236, 236;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}
.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
